* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 25rem;
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 0.6rem;
}

label,
input[type="checkbox"],
input[type="radio"],
input[type="button"] {
  cursor: pointer;
}

label {
  user-select: none;
  padding: 0.2rem 0;
}

input[type="button"] {
  padding: 0 0.6rem;
}

/* label:hover {
  background-color: #eaeff2;
} */

/* Version span style */
.abf-version {
  position: absolute;
  inset: 0 0 auto auto;
  width: fit-content;

  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
}

/* Last Run span style */
.last-run {
  position: absolute;
  inset: auto 0 0 auto;
  width: fit-content;
}

/* Options Style */
.options {
  position: relative;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.2rem 0;
}

.options-links > a {
  display: block;
}

.indent {
  margin-left: 1.3rem;
}

/* Instead of creating a spacer element, use this in 
    a div to add spacings above that div */
.spaced {
  margin-top: 0.1rem;
}

/* Other */
section.clear-options {
  padding: 0.5em 0;
  margin: 1em 0;
}

.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#clear-button {
  margin: 0 1.3em 1em 0;
}

section.clear-options input,
section.clear-options > select,
#clear-button {
  float: right;
}

#abf-personal-block-textbox {
  resize: vertical;
  width: 100%;
  display: none;
}

#abf-personal-block-button {
  position: right;
  float: right;
  display: none;
}

.abf-personal-block-saved-confirm {
  display: none;
  float: right;
  margin-right: .5em;
}

.resizable-textarea {
  resize: vertical;
}
